---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout>
    <h1 class="text-4xl md:text-6xl font-bold font-spacemono text-white mt-10 mb-10 pl-6 lg:pl-24">Contact</h1>
</Layout>